openapi: 3.2.0
info:
  title: LinkAGI Gemini-style route API
  version: '2026-08-04'
  description: LinkAGI AI API relay. Model availability and pricing change by route and pool; copy current model IDs from the live marketplace before sending a paid request.
  termsOfService: https://api.linktoagi.com/user-agreement
  license:
    name: LinkAGI API Terms
    url: https://api.linktoagi.com/user-agreement
  contact:
    name: LinkAGI Support
    url: https://docs.linktoagi.com/about.html#support
    email: linktoagi@163.com
  x-linkagi-evidence:
    checked: '2026-08-04'
    verified:
    - 'OpenAI Chat Completions: one authenticated HTTP 200 call using claude-opus-4-6 on 2026-08-03'
    - 'OpenAI Responses: one authenticated HTTP 200 call using gpt-5.6-sol on 2026-08-04'
    notVerified:
    - Authenticated model listing
    - Native Anthropic Messages compatibility
    - Gemini generateContent compatibility
    - Streaming and tool calling
    - Client-specific integrations
servers:
- url: https://api.linktoagi.com
  description: Production API
tags:
- name: Gemini-style route
  description: generateContent-shaped route advertised by the service. The route reaches authentication without a key; authenticated native compatibility has not been verified in the latest evidence set.
paths:
  /v1beta/models/{model}:generateContent:
    post:
      operationId: generateGeminiContent
      summary: Send a request to the Gemini-style generateContent route
      description: The public route reaches structured authentication without a key. A successful authenticated native Gemini generateContent request has not been verified in the latest evidence set; treat this operation as a documented surface pending compatibility testing.
      tags:
      - Gemini-style route
      security:
      - geminiApiKey: []
      parameters:
      - name: model
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeminiGenerateRequest'
            example:
              contents:
              - role: user
                parts:
                - text: 'Reply with: LinkAGI Gemini ok'
              generationConfig:
                maxOutputTokens: 32
      responses:
        '200':
          description: Response returned by the selected Gemini-style route. A successful native compatibility sample is not part of the latest public evidence set.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
components:
  responses:
    Unauthorized:
      description: Missing, invalid, expired, disabled, or unauthorized API key.
    BadRequest:
      description: Invalid body, model ID, group, or unsupported request field.
    RateLimited:
      description: Client, group, model, route, or upstream limit reached.
  schemas:
    GeminiContent:
      type: object
      properties:
        role:
          type: string
        parts:
          type: array
          items:
            $ref: '#/components/schemas/GeminiPart'
      required:
      - parts
    GeminiGenerateRequest:
      type: object
      properties:
        contents:
          type: array
          items:
            $ref: '#/components/schemas/GeminiContent'
        generationConfig:
          type: object
          additionalProperties: true
      required:
      - contents
      additionalProperties: true
    GeminiPart:
      type: object
      properties:
        text:
          type: string
      additionalProperties: true
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
    anthropicApiKey:
      type: apiKey
      in: header
      name: x-api-key
    geminiApiKey:
      type: apiKey
      in: header
      name: x-goog-api-key
externalDocs:
  description: LinkAGI documentation
  url: https://docs.linktoagi.com/?utm_source=openapi&utm_medium=developer_tool&utm_campaign=ecosystem_20260804&utm_content=external_docs
